<html>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="col-2">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            </div>

            <div class="col-8">
            <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-between w-100 mx-5">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            </div>
            </div>

            <div class="col-2">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>

        </div>
    </nav>
</html>