#swap_button {
    background: #7432FF;
    border-radius: 100px;
    width: 600px;
    height: 100px;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    
}

#container-button{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    overflow: auto;
}

.centered {
    height: 90vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
  }